@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fcfcfc;
  min-height: 100vh;
}

.content , .profile {
  min-height: calc(100vh - (65px + 65px));
}

svg {
  display: inline-block;
}

.app-header-item-active {
  /* border-bottom: 5px solid; */
  border-image-source: -webkit-linear-gradient(135deg, #c7f8cd, #04c738);
  border-image-slice: 1;
  box-shadow: 0 10px 11px -8px  #6bfaae;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}